<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>983953626710-64bvvjekhetgj1t8sfhme4pvffrsr7kc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.983953626710-64bvvjekhetgj1t8sfhme4pvffrsr7kc</string>
	<key>API_KEY</key>
	<string>AIzaSyBuKdBs4t1Tsy91EyCkro2KDbHryqjOKJU</string>
	<key>GCM_SENDER_ID</key>
	<string>983953626710</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseCrash</string>
	<key>PROJECT_ID</key>
	<string>iosfirebase-d1245</string>
	<key>STORAGE_BUCKET</key>
	<string>iosfirebase-d1245.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:983953626710:ios:a99abe24fd2b550cf00df7</string>
</dict>
</plist>